body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
    border-radius: 0.286rem;
    border-width: 1px;
    padding: 0.4em 0.8em 0.4em 1em;
    border-color: #99f;
}

textarea {
    border-color: #99f;
}

.encode_stuff {
    margin: 2px;
}

.tab_name {
    width: 160px;
    padding: 6px 12px;
    border-top-right-radius: 0.68rem;
    border: hidden;
    font-size: .9em;
    font-weight: 500;
    background-color: #99f;
    color: black;
}

.sub_tab_name {
    width: 150px;
    padding: 4px 12px;
    border-top-right-radius: 0.68rem;
    border: hidden;
    font-weight: 400;
    background-color: #99f;
    color: black;
    font-size: 0.8em
}

#controls {
    margin: 0px;
    text-align: left;
}

#control_panels {
    display: inline-block;
    text-align: left;
}

#cipher_methods {
    padding: 0;
    border: 0;
    background: transparent;
}

    #cipher_methods button {
        padding: 6px 12px;
        border-top-right-radius: 0.68rem;
        border: hidden;
        font-weight: bold;
    }

.caesar_btn {
    background-color: #ccc;
}

#caesar_properties {
    background-color: #ccf;
}

.caesar_btn:focus, .caesar_btn_active {
    outline: none;
    background-color: #ccf;
}

.playfair_btn {
    background-color: #ccc;
}

    .playfair_btn:focus, .playfair_btn_active {
        outline: none;
        background-color: #cfc;
    }

#playfair_properties {
    background-color: #cfc;
}

.two_square_btn {
    background-color: #ccc;
}

    .two_square_btn:focus, .two_square_btn_active {
        outline: none;
        background-color: #fcc;
    }

#cipher_properties {
}

    #cipher_properties div {
        border-radius: 0.68rem;
        border-top-left-radius: 0;
        padding: 0.7rem;
    }

#two_square_properties {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #fcc;
}

.keyword_grid, .offset_grid {
    margin: 4px auto 0 auto;
    //width: 200px;
    text-align: center;
    border-collapse: collapse;
    border-style: hidden;
}

    .keyword_grid td, .offset_grid td {
        border: 1px solid #888;
        width: 1.5em;
    }

    .offset_grid tr:first-child td {
        font-weight: bold;
    }

    .keyword_grid .keyword {
        font-weight: bold;
    }

#controls div.inactive {
    display: none;
}

.text_blocks {
    display: grid;
    grid-template-columns: 46% 8% 46%;
}

    .text_blocks p {
        text-align: center;
        font-weight: bold;
        margin: 0;
    }

    .text_blocks textarea {
        justify-self: center;
        width: 95%;
    }

#cipher_directions {
    margin-top: 30px;
}

    #cipher_directions button, #cipher_directions button:visited {
        margin: 0;
        padding: 0;
        border: none;
        width: 70px;
        height: 70px;
        outline: none;
    }

#cryptanalysis_tools {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.frequency_analysis {
    display: flex;
    gap: 4px;
    padding: 4px;
}

.other_analysis {
    padding: 4px;
}

    .other_analysis table {
        border: 1px solid #99f;
        padding: 2px;
        text-align: center;
    }

.method_props {
    width: 60px;
}

.info {
    display: flex;
    gap: 2px;
    border: 1px solid black;
}

    .info .clearText {
        grid-area: clear;
    }

    .info .codedText {
        grid-area: coded;
    }

.frequency {
    border: 1px solid #99f;
    height: 100px
}

    .frequency th {
        text-align: left;
    }

    .frequency td {
        font-size: .5em;
        text-align: center;
    }

.letter {
}

.max_letter {
    font-weight: bold;
    background-color: #ddd;
}

.bar_row {
    vertical-align: bottom;
}

.letter_bar {
    background-color: blue;
}

.max_letter_bar {
    background-color: #000;
}
